div {
	background: #84541a; /* Old browsers */
background: -moz-linear-gradient(top,  #84541a 0%, #847052 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84541a), color-stop(100%,#847052)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #84541a 0%,#847052 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #84541a 0%,#847052 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #84541a 0%,#847052 100%); /* IE10+ */
background: linear-gradient(to bottom,  #84541a 0%,#847052 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84541a', endColorstr='#847052',GradientType=0 ); /* IE6-9 */
margin: 0 auto;
	position: relative;
}

#header {
	border: 1px solid black;
	border-radius: 5px;
	display: block;
	width: 800px;
	height: 100px;

}

#header p {
	text-align: center;
	color: white;
	font-size: 2em;
	font-family: sans-serif;
	text-transform: uppercase;
}

#battleoptions {
	border: 1px solid black;
	border-radius: 5px;
	display: inline-block;
	float: left;
	width: 200px;
	height: 120px;
	list-style: none;
}

#battleoptions li {
	list-style: none;
}

#battleevent {
	border: 1px solid black;
	border-radius: 5px;
	float: left;
	display: inline-block;
	width: 396px;
	height: 120px;
	overflow: auto;
}

#hpcounters {
	border: 1px solid black;
	border-radius: 5px;
	float: left;
	display: inline-block;
	width: 200px;
	height: 120px;
}

img {
	display: block;
	text-align: center;
}